---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    dashboards: grafana
spec:
  config:
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    auth:
      oauth_auto_login: "true"
      disable_login_form: "true"
    auth.anonymous:
      enabled: "true"
    auth.basic:
      enabled: "true"
    auth.generic_oauth:
      enabled: "true"
      name: Authelia
      allow_sign_up: "true"
      client_id: grafana
      scopes: openid profile email groups
      login_attribute_path: preferred_username
      name_attribute_path: name
      groups_attribute_path: groups
      auth_url: https://authelia.${CLUSTER_DOMAIN}/api/oidc/authorization
      token_url: https://authelia.${CLUSTER_DOMAIN}/api/oidc/token
      api_url: https://authelia.${CLUSTER_DOMAIN}/api/oidc/userinfo
      use_pkce: "true"
      role_attribute_path: contains(groups[*], 'id_admin') && 'Admin' || 'Viewer'
      role_attribute_strict: "true"
      auth_style: InHeader
    log:
      mode: console
    metrics:
      enabled: "true"
    news:
      news_feed_enabled: "false"
    plugins:
      plugin_admin_enabled: "false"
    server:
      root_url: https://grafana.${CLUSTER_DOMAIN}
  disableDefaultAdminSecret: true
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              image: grafana/grafana:12.3.3@sha256:9e1e77ade304069aee3196e9a4f210830e96e80ce9a2640891eccc324b152faf
              env:
                - name: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: grafana-oauth-secret
                      key: OIDC_CLIENT_SECRET
  httpRoute:
    metadata:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: Grafana
        gethomepage.dev/icon: grafana
        gethomepage.dev/description: The open and composable observability platform
        gethomepage.dev/group: Observability
        gethomepage.dev/pod-selector: app.kubernetes.io/name=grafana
    spec:
      hostnames:
        - grafana.${CLUSTER_DOMAIN}
      parentRefs:
        - name: traefik-gateway
          namespace: network
          sectionName: websecure
      # NOTE: docs don't say this is needed, and it shouldn't, but it is
      rules:
        - backendRefs:
            - name: grafana-service
              port: 3000

  # persistentVolumeClaim:
  #   spec:
  #     accessModes:
  #       - ReadWriteOnce
  #     resources:
  #       requests:
  #         storage: 10Gi
  #     storageClassName: ""
