---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  driftDetection:
    mode: enabled
  values:
    controllers:
      vaultwarden:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 11002
            runAsGroup: 11002
            fsGroup: 11002
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile:
              type: RuntimeDefault
        containers:
          app:
            image:
              repository: ghcr.io/dani-garcia/vaultwarden
              tag: 1.35.3@sha256:1ca2e2098ba9ab9e46004f4ee61a3be6080ffee3ed41018a95c4b0fb6454a54b
            env:
              DOMAIN: https://vault.${CLUSTER_DOMAIN}
              TZ: ${TIME_ZONE}
              SIGNUPS_ALLOWED: false
              SMTP_HOST: maddy.default.svc.cluster.local
              SMTP_PORT: 2525
              SMTP_SECURITY: "off"
              SMTP_FROM_NAME: Vaultwarden
              SMTP_FROM: noreply@mail.${CLUSTER_DOMAIN}
              WEBSOCKET_ENABLED: true
            envFrom:
              - secretRef:
                  name: vaultwarden-secret
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /alive
                    port: &port 80
              readiness: *probe
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 1Gi  # needed for argon2
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      data:
        existingClaim: vaultwarden-data
    service:
      app:
        ports:
          http:
            port: *port
            protocol: HTTP
    route:
      admin:
        hostnames:
          - &host vault.${CLUSTER_DOMAIN}
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /admin/
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: traefik.io
                  kind: Middleware
                  name: auth-chain
            backendRefs:
              - identifier: app
        parentRefs: &parentRefs
          - name: traefik-gateway
            namespace: network
            sectionName: websecure
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Vaultwarden
          gethomepage.dev/icon: vaultwarden-light
          gethomepage.dev/description: Lightweight, self-hosted password manager
          gethomepage.dev/group: Apps
          gethomepage.dev/pod-selector: app.kubernetes.io/name = vaultwarden
        hostnames:
          - *host
        rules:
          - backendRefs:
              - identifier: app
        parentRefs: *parentRefs
