---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-metrics
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: victoria-metrics
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    fullnameOverride: stack

    defaultDashboards:
      enabled: true

    victoria-metrics-operator:
      operator:
        enable_converter_ownership: true

    vmsingle:
      enabled: true
      spec:
        retentionPeriod: 30d
        replicaCount: 1
        storage:
          storageClassName: longhorn-victoria-metrics
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 32Gi
        resources:
          limits:
            memory: 2Gi
          requests:
            cpu: 500m
            # memory: 1.2Gi
      ingress:
        enabled: false
      route:
        enabled: true

        parentRefs: &parentRefs
          - name: traefik-gateway
            namespace: network
            sectionName: websecure
        hostnames:
          - vm.${CLUSTER_DOMAIN}

    alertmanager:
      enabled: true
      spec:
        externalURL: https://vm-alert.${CLUSTER_DOMAIN}
        routePrefix: /
      ingress:
        enabled: false
      route:
        enabled: true
        parentRefs: *parentRefs
        hostnames:
          - vm-alert.${CLUSTER_DOMAIN}

    vmalert:
      enabled: true
      spec:
        extraArgs:
          external.url: https://vmalert.${CLUSTER_DOMAIN}
        evaluationInterval: 15s
      ingress:
        enabled: false
      route:
        enabled: true
        parentRefs: *parentRefs
        hostnames:
          - vmalert.${CLUSTER_DOMAIN}

    vmagent:
      enabled: true
      spec:
        scrapeInterval: 20s
        externalLabels:
          cluster: k3s
      ingress:
        enabled: false
      route:
        enabled: true
        parentRefs: *parentRefs
        hostnames:
          - vmagent.${CLUSTER_DOMAIN}

    grafana:
      enabled: true
      admin:
        existingSecret: grafana-secret
      route:
        main:
          enabled: true
          annotations:
            gethomepage.dev/enabled: "true"
            gethomepage.dev/name: Grafana
            gethomepage.dev/icon: grafana
            gethomepage.dev/description: Real-time monitoring with custom dashboards
            gethomepage.dev/group: Observability
            gethomepage.dev/pod-selector: app.kubernetes.io/name=grafana
          hostnames:
            - grafana.${CLUSTER_DOMAIN}
          parentRefs: *parentRefs

      # # Required to add additional dashboards via config
      # # TODO: move to Grafana Operator and deploy dashboards as CRDs
      # dashboardProviders:
      #   dashboardproviders.yaml:
      #     apiVersion: 1
      #     providers:
      #       - name: default
      #         orgId: 1
      #         folder: ''
      #         type: file
      #         disableDeletion: true
      #         editable: false
      #         options:
      #           path: /var/lib/grafana/dashboards/default

      # dashboards:
      #   default:
      #     longhorn:
      #       gnetId: 16888
      #       revision: 9
      #     traefik:
      #       gnetId: 17346
      #       revision: 9
      #     metallb:
      #       gnetId: 20162
      #       revision: 6
      #       datasource:
      #         - name: DS_PROMETHEUS
      #           value: Prometheus
      #     blocky:
      #       gnetId: 13768
      #       revision: 6
      #       datasource:
      #         - name: DS_PROMETHEUS
      #           value: Prometheus
      #         - name: VAR_BLOCKY_URL
      #           value: http:\/\/blocky-app.blocky.svc.cluster.local
      #     cert-manager:
      #       url: https://gitlab.com/uneeq-oss/cert-manager-mixin/-/raw/master/dashboards/cert-manager.json
      #       datasource:
      #         - name: DS_PROMETHEUS
      #           value: Prometheus
      #     flux-cluster:
      #       url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
      #       datasource:
      #         - name: DS_PROMETHEUS
      #           value: Prometheus
      #     flux-control-plane:
      #       url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
      #       datasource:
      #         - name: DS_PROMETHEUS
      #           value: Prometheus
      #     node-feature-discovery:
      #       url: https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/examples/grafana-dashboard.json
      #       datasource:
      #         - name: DS_PROMETHEUS
      #           value: Prometheus
      #     dragonfly:
      #       url: https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/refs/heads/main/monitoring/grafana-dashboard.json
