---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending

  - repo: https://github.com/sirosen/texthooks
    rev: 0.7.1
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-unicode-dashes

  - repo: https://github.com/k8s-at-home/sops-pre-commit
    rev: v2.1.1
    hooks:
      - id: forbid-secrets

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.46.6
    hooks:
      - id: renovate-config-validator
        files: "renovate(rc|/.+)?\\.json5?$"

  # See: https://github.com/ansible/ansible-lint/discussions/1256
  - repo: https://github.com/ansible/ansible-lint
    rev: v26.2.0
    hooks:
      - id: ansible-lint
        args:
          - ansible/
        stages: [pre-push, manual]
