---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: traefik
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    service:
      type: LoadBalancer
      ipFamilyPolicy: RequireDualStack
      annotations:
        metallb.io/loadBalancerIPs: "${PROXY_IP},${PROXY_IPv6}"
      spec:
        externalTrafficPolicy: Local
    ports:
      web:
        port: 80
        expose:
          default: false
        forwardedHeaders: &forwardedHeaders
          trustedIPs:
            - ${LAN_CIDR}
            - ${LAN_CIDRv6}
            - ${CLUSTER_CIDR}
            - ${CLUSTER_CIDRv6}
      websecure:
        port: 443
        forwardedHeaders: *forwardedHeaders
    gateway:
      enabled: false
      listeners:
        websecure:
          port: 443
          protocol: HTTPS
          certificateRefs:
            - kind: Secret
              group: ""
              name: cluster-wildcard-tls
    providers:
      kubernetesCRD:
        allowCrossNamespace: true  # needed for ForwardAuth middleware
      kubernetesGateway:
        enabled: true
    metrics:
      prometheus:
        addServicesLabels: true
        serviceMonitor:
          enabled: true
