---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: traefik
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    providers:
      kubernetesCRD:
        allowCrossNamespace: true  # needed for ForwardAuth middleware
      kubernetesGateway:
        enabled: true
    service:
      type: LoadBalancer
      ipFamilyPolicy: RequireDualStack
      annotations:
        metallb.io/loadBalancerIPs: "${PROXY_IP},${PROXY_IPv6}"
      spec:
        externalTrafficPolicy: Local
    ports:
      web:
        port: 8000
        expose:
          default: true
        exposedPort: 80
        redirections:
          entryPoint:
            to: websecure
            permanent: true
      websecure:
        port: 8443
        expose:
          default: true
        exposedPort: 443
        http3:
          enabled: true
        forwardedHeaders:
          trustedIPs:
            - ${LAN_CIDR}
            - ${LAN_CIDRv6}
            - ${CLUSTER_CIDR}
            - ${CLUSTER_CIDRv6}
    gateway:
      listeners:
        web:
          port: 8000
          protocol: HTTP
          namespacePolicy:
            from: All
        websecure:
          port: 8443
          protocol: HTTPS
          namespacePolicy:
            from: All
          certificateRefs:
            - name: cluster-wildcard-tls
          mode: Terminate
    metrics:
      prometheus:
        addServicesLabels: true
        serviceMonitor:
          enabled: true
