---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tailscale-operator
  namespace: flux-system
spec:
  dependsOn:
    - name: external-secrets-stores
  path: /kubernetes/apps/network/tailscale-operator/app
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: network
  prune: true
  interval: 30m
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tailscale-router
  namespace: flux-system
spec:
  dependsOn:
    - name: tailscale-operator
  path: /kubernetes/apps/network/tailscale-operator/router
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: network
  prune: true
  interval: 30m
  timeout: 5m
  wait: true
