---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dragonfly-operator
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: dragonfly-operator
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    manager:
      extraArgs:
        # See: https://github.com/dragonflydb/dragonfly-operator/issues/258
        - --metrics-bind-address=0.0.0.0:8080
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          cpu: 500m
          memory: 64Mi

    serviceMonitor:
      enabled: true
    # TODO: enable when I have the Grafana Operator
    grafanaDashboard:
      enabled: false
