---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  chart:
    spec:
      chart: grafana
      version: 10.5.15
      sourceRef:
        kind: HelmRepository
        name: grafana
  interval: 1h
  driftDetection:
    mode: enabled
  values: # https://github.com/grafana-community/helm-charts/blob/main/charts/grafana/values.yaml
    labels:
      grafana.home.arpa/instance: grafana
    admin:
      existingSecret: grafana-admin-secret
    env:
      - name: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: grafana-oauth-secret
            key: OIDC_CLIENT_SECRET
    grafana.ini:
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      auth:
        disable_login_form: true
      auth.anonymous:
        enabled: true
      auth.generic_oauth:
        enabled: true
        name: Authelia
        allow_sign_up: true
        auto_login: true
        client_id: grafana
        scopes: openid profile email groups
        login_attribute_path: preferred_username
        name_attribute_path: name
        groups_attribute_path: groups
        auth_url: https://authelia.${CLUSTER_DOMAIN}/api/oidc/authorization
        token_url: https://authelia.${CLUSTER_DOMAIN}/api/oidc/token
        api_url: https://authelia.${CLUSTER_DOMAIN}/api/oidc/userinfo
        use_pkce: true
        role_attribute_path: contains(groups[*], 'id_admin') && 'Admin' || 'Viewer'
        role_attribute_strict: true
        auth_style: InHeader
      date_formats:
        use_browser_locale: true
      metrics:
        enabled: true
      news:
        news_feed_enabled: false
    serviceMonitor:
      enabled: true
    route:
      main:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Grafana
          gethomepage.dev/icon: grafana
          gethomepage.dev/description: The open and composable observability platform
          gethomepage.dev/group: Observability
          gethomepage.dev/pod-selector: app.kubernetes.io/name=grafana
        hostnames:
          - grafana.${CLUSTER_DOMAIN}
        parentRefs:
          - name: traefik-gateway
            namespace: network
            sectionName: websecure
    persistence:
      enabled: false
