---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app blocky
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  driftDetection:
    mode: enabled
  values:
    controllers:
      blocky:
        replicas: 4
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
          securityContext:
            runAsNonRoot: true
            runAsUser: &nobody 65534
            runAsGroup: *nobody
            seccompProfile:
              type: RuntimeDefault
        containers:
          app:
            image:
              repository: ghcr.io/0xerr0r/blocky
              tag: v0.29.0@sha256:a6d99f323d3036a99a3767a52ad612f4d8f3f31167492bfc14d4ea57b24cdfd0
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &dnsPort 53
                  initialDelaySeconds: 20  # blocklist download on startup
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
                add:
                  # NOTE: Required, even when binding port 1053 or: exec /app/blocky: operation not permitted
                  - NET_BIND_SERVICE
    persistence:
      config:
        type: secret
        name: blocky-config
        globalMounts:
          - path: /app/config.yml
            subPath: config.yml
    service:
      app:
        ports:
          http:
            port: 4000
            protocol: HTTP
      dns:
        type: LoadBalancer
        ipFamilyPolicy: RequireDualStack
        annotations:
          metallb.io/loadBalancerIPs: "${DNS_IP},${DNS_IPv6}"
        ports:
          dns-tcp:
            port: *dnsPort
            protocol: TCP
          dns-udp:
            port: *dnsPort
            protocol: UDP
    serviceMonitor:
      app:
        service:
          name: blocky-app
        endpoints:
          - port: http
            path: /metrics
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Blocky
          gethomepage.dev/icon: blocky
          gethomepage.dev/description: DNS proxy and ad-blocker written in Go
          gethomepage.dev/group: Network
        parentRefs:
          - name: traefik-gateway
            namespace: network
            sectionName: websecure
        hostnames:
          - "{{ .Release.Name }}.${CLUSTER_DOMAIN}"
        rules:
          - backendRefs:
              - identifier: app
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: traefik.io
                  kind: Middleware
                  name: auth-chain
