---
- name: Prepare localhost
  hosts: localhost
  gather_facts: false

  tasks:

    - name: Get Ghostty terminfo
      ansible.builtin.command: infocmp -x xterm-ghostty
      register: ghostty_terminfo
      changed_when: false

- name: Configure k3s_cluster
  hosts: k3s_cluster
  become: true

  pre_tasks:

    - name: Verify we are booted from NVMe
      ansible.builtin.command: findmnt -n -o SOURCE /
      register: root_drive
      failed_when: "'nvme' not in root_drive.stdout"
      changed_when: false
      when: inventory_hostname != 'raspberrypi'

  tasks:

    - name: Apply Ghostty terminfo when missing
      block:

        - name: Check if Ghostty exists
          ansible.builtin.command: infocmp xterm-ghostty
          register: ghostty_check
          changed_when: false
          failed_when: false

        - name: Apply Ghostty terminfo
          ansible.builtin.command: tic -x -
          args:
            stdin: "{{ hostvars['localhost'].ghostty_terminfo.stdout }}"
          when: ghostty_check.rc != 0
          changed_when: true

    - name: Set system hostname
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"
      notify: Update /etc/hosts entry with hostname

    - name: Harden SSH Configuration
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
        validate: "sshd -t -f %s"
      loop:
        - { regexp: "^#?PermitRootLogin", line: "PermitRootLogin no" }
        - { regexp: "^#?PasswordAuthentication", line: "PasswordAuthentication no" }
        - { regexp: "^#?ChallengeResponseAuthentication", line: "ChallengeResponseAuthentication no" }
        - { regexp: "^#?KbdInteractiveAuthentication", line: "KbdInteractiveAuthentication no" }
        - { regexp: "^#?PermitEmptyPasswords", line: "PermitEmptyPasswords no" }
        - { regexp: "^#?X11Forwarding", line: "X11Forwarding no" }
      notify: Restart SSH

    - name: Configure k3s registry mirror cache Spegel
      vars:
        k3s_config_dir: /etc/rancher/k3s/
      block:

        - name: Ensure k3s config directory exists
          ansible.builtin.file:
            path: /etc/rancher/k3s/
            state: directory
            mode: "0755"

        - name: Ensure we mirror/cache all repos with Spegel
          ansible.builtin.blockinfile:
            path: /etc/rancher/k3s/}/registries.yaml
            create: true
            mode: "0400"
            block: |
              mirrors:
                "*":

  handlers:

    - name: Update /etc/hosts entry with hostname
      ansible.builtin.lineinfile:
        path: /etc/hosts
        regexp: "^127\\.0\\.1\\.1"
        line: "127.0.1.1\t{{ inventory_hostname }}"

    - name: Restart SSH
      ansible.builtin.service:
        name: sshd
        state: restarted
