---
- name: Install kube-vip
  hosts: server
  become: true

  tasks:

    - name: Ensure k3s static pod directory exists
      ansible.builtin.file:
        path: /var/lib/rancher/k3s/agent/pod-manifests
        state: directory
        mode: "0755"

    - name: Generate kube-vip manifest from template
      ansible.builtin.template:
        src: kube-vip.yaml.j2
        dest: /var/lib/rancher/k3s/agent/pod-manifests/kube-vip.yaml
        mode: "0644"


- name: Upgrade kube-vip
  hosts: server
  tags: [upgrade, never]
  become: true
  serial: 1

  tasks:

    - name: Generate kube-vip manifest from template
      ansible.builtin.template:
        src: kube-vip.yaml.j2
        dest: /var/lib/rancher/k3s/agent/pod-manifests/kube-vip.yaml
        mode: "0644"
      notify: Wait the node to come back online

  handlers:

    - name: Wait the API to come back online
      ansible.builtin.wait_for:
        port: 6443
        state: started
        delay: 10
        timeout: 300
