---
- name: Configure kube-vip
  hosts: server
  become: true
  serial: 1
  vars:
    pod_manifest_dir: /var/lib/rancher/k3s/agent/pod-manifests
  tasks:
    - name: Ensure k3s static pod directory exists
      ansible.builtin.file:
        path: "{{ pod_manifest_dir }}"
        state: directory
        mode: "0755"

    - name: Generate kube-vip manifest from template
      ansible.builtin.template:
        src: kube-vip.yaml.j2
        dest: "{{ pod_manifest_dir }}/kube-vip.yaml"
        mode: "0644"

    - name: Wait the node to come back online
      ansible.builtin.wait_for:
        port: 6443
        state: started
        delay: 10
        timeout: 300
