---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale
spec:
  interval: 1h
  chart:
    spec:
      chart: tailscale-operator
      version: 1.94.2
      sourceRef:
        kind: HelmRepository
        name: tailscale
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
              name: operator
            patch: |
              - op: replace
                path: /metadata/name
                value: tailscale-operator
              - op: add
                path: /metadata/labels
                value:
                  app.kubernetes.io/name: tailscale-operator
              - op: add
                path: /spec/template/metadata/labels/app.kubernetes.io~1name
                value: tailscale-operator
  values:
    oauthSecretVolume:
      secret:
        secretName: tailscale-oauth
