---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: traefik
  namespace: flux-system
spec:
  dependsOn:
    - name: cert-manager-issuers
    - name: prometheus-operator-crds
    - name: metallb-pools
  path: /apps/traefik/traefik/app
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: traefik
  prune: true
  interval: 15m
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app traefik-middlewares
  namespace: flux-system
spec:
  dependsOn:
    - name: traefik
    - name: authelia
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: /apps/traefik/traefik/middlewares
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: traefik
  prune: true
  interval: 15m
  timeout: 5m
