---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./external-secret.yaml
  - ./helm-release.yaml
configMapGenerator:
  - name: garage-config-tpl
    files:
      - garage.toml=./resources/garage.toml
generatorOptions:
  disableNameSuffixHash: true
